*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222222;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #fafafa;
}

.section{
    float:left;
    width: 100%;
}

.container{
    width: 100%;
    display: flex;
    padding: 10px;
    padding-left: 150px;
}

.header{
    background-color: #fbf4ea;
}

.logo{
    width: 250px;
}

.find{
    padding-left: 300px;
    padding-top: 25px;
    padding-right: 240px;
}

input[type=text] {
    float: left;
    width: 300px;
    font-size: 15px;
    height: 40px;
}

.Login{
    padding-top: 35px;
}
.Login ul{
    display: flex;
}
.Login li{
    list-style: none;
    padding-left: 40px;
}
.Login a{
    text-decoration: none;
    font-size: 20px;
}
.Login a:hover{
    color: black;
}

.nav{
    background-color: #ed5b30;
}
.menu{
    list-style: none;
    display: flex;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    padding-right: 20px;
    color: white;
}
.menu a:hover{
    color: black;
}

.col-md-12{
    background-color: #46b8da;
    width: 100%;
}
.col-md-12 .container{
    width: 100%;
}
.carousel img {
    width: 100%;
}

h1{
    background-image:url("../imgs/9.png");
    padding: 5px 40px 5px 50px;
}

.main{
    background-color: #f4f4f4;
}
.noidung1 {
    margin-left: 150px;
}
.noidung1 li{
    list-style: none;
    font-size: 18px;
    padding-right: 30px;
    padding: 20px;
}
.noidung{
    display: flex;
}

h2{
    padding-left: 500px;
    padding-top: 20px;
    color: white;
}

.contact{
    padding-left: 150px;
    background-color: #415388;
}
.contact .CONTACT{
    padding-top: 10px;
}
.Contact .thongtin{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.icon{
    padding-right: 10px;
    color: white;
}
.thongtin{
    padding-bottom: 10px;
    color: white;
}
.Contact li{
    list-style: none;
    color: white;
}
